<div class="container">
    <div class="row login-panel">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="icon_prefix" type="email" class="validate">
              <label for="icon_prefix">Email</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="icon_telephone" type="password" class="validate">
              <label for="icon_telephone">password</label>
            </div>
          </div>
          <button class="waves-effect waves-light btn right" type="submit">login</button>
        </form>
      </div>
</div>